---
interface Props {
    title: string;
    url: string;
    target: string;
}

const { title, url, target} = Astro.props
---
<a class="link" href={url} target={target}>{title}</a>

<style>
    .link {
        font-size: 0.875rem;
        color: var(--text-tertiary-light);
        text-decoration: none;
    }

    .link:hover,
    .link:active,
    .link:focus,
    .link:focus-visible {
        color: var(--text-primary-light);
        outline: none;
    }

    @media (prefers-color-scheme: dark) {
        .link {
            color: var(--text-tertiary-dark);
        }
        .link:hover,
        .link:active,
        .link:focus,
        .link:focus-visible {
            color: var(--text-primary-dark);
        }
    }
</style>